/*Colour pallette:
	#6E1313 - dark red
	#A10D0D - bright red
	#610505 - darker red
	#610000
	#5C0000 - darker red*/


html, body {
	height: 100%;
}

#header-nav {
	background-color: #5C0000;
	background-image: none;
	border-radius: 0;
}

.container-fluid {
	width: 100%;
	height: 100%;
}

footer {
	color: white;
}

#footerNav {
	background-color: #5C0000;
	background-image: none;
}

#copyright {
	padding-top: 15px;
}